{% extends "layout.html" %}

{% block content %}
  {% if get_message %} 
      <p> {{ get_message }}
          <a href="/">Input data</a> 
      </p>
  {% else %}
  <h2>Football Result in tables</h2>

  <div>
      <table class="table table-striped table-hover">
         <thead class="thead-dark">
           <tr>
             <th>PLAYERS</th>
             <th>FOOTBALL CLUB</th>
             <th>AREA</th>
             <th>CITY</th>
             <th>DATE</th>
           </tr>
         </thead>
         <tbody>
      {% for i in range(length) %}
      <tr>
        <td>{{ ents_dict["PERSON"][i] }}</td>
        <td>{{ ents_dict["ORG"][i] }}</td>
        <td>{{ ents_dict["LOC"][i] }}</td>
        <td>{{ ents_dict["GPE"][i] }}</td>
        <td>{{ ents_dict["DATE"][i] }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
      
{% endif %}
{% endblock %}